.Card-footer {
    background-color: #2e7a70;
    text-align: left;
    color: white;
}

.Card-body {
    text-align: left;
}

.image {
    min-height: 4vh;
    max-height: 7vh;
    min-width: 4vh;
    max-width: 7vh;
}